html ,body{
    height: 100%;
    font-family: 'Courgette', cursive;
    font-weight: 300;
    font-size: 1.1em;
}
#logo{
    margin-top: 0;
    padding-top:0px;
    width: 50px;
    height: 50px;
}
.jumbotron{
    background-image: url("../images/background/home_img.jpg");
    background-position: fixed;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top:20%;
    color: antiquewhite;
    text-shadow: 1px 1px black;

}
#services{
    text-align:center;
    background-image: url("../images/background/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0; 
    padding-right: 0;
    padding-top: 12%;
    padding-bottom:12%;
    color: antiquewhite;
    text-shadow: 1px 1px black;
}
h2{
    text-align: center;
}
.icons{
    padding-top:20px;
    padding-left: 20px;
    text-align: center;
}
.row{
    margin-bottom: 20px;
}
.overlay{
    background-image: url("../images/background/c_image.jpg");
    color: antiquewhite;
    text-shadow: 1px 1px black;
}
.contacts{
    background-color: rgba(0, 0, 0, 0.5);
     padding: 11%;
}
#name{
    background-color: #66000000;
}
#email{
    background-color: #66000000;
    
}
#message{
    background-color: #66000000;
}
.footer{
    text-align: center;
}
#work1 {
	float: left;
	position: relative;
	margin: 5px;
	color: #333;
}
#work1 .image-cap {
	display: none;
	opacity: 0.8;
	background:#cae5c1;
	width: 195px;
	position: absolute;
	bottom: 0px;
    padding: 5px;
    height: 100%;
}
#work2 {
	float: left;
	position: relative;
	margin: 5px;
	color: #333;
}
#work2 .image-cap {
	display: none;
	opacity: 0.8;
	background:#cae5c1;
	width: 195px;
	position: absolute;
	bottom: 0px;
    padding: 5px;
    height: 100%;
}
#work3 {
	float: left;
	position: relative;
	margin: 5px;
	color: #333;
}
#work3 .image-cap {
	display: none;
	opacity: 0.8;
	background:#cae5c1;
	width: 195px;
	position: absolute;
	bottom: 0px;
    padding: 5px;
    height: 100%;
}
#work4 {
	float: left;
	position: relative;
	margin: 5px;
	color: #333;
}
#work4 .image-cap {
	display: none;
	opacity: 0.8;
	background:#cae5c1;
	width: 195px;
	position: absolute;
	bottom: 0px;
    padding: 5px;
    height: 100%;
}
#work5 {
	float: left;
	position: relative;
	margin: 5px;
	color: #333;
}
#work5 .image-cap {
	display: none;
	opacity: 0.8;
	background:#cae5c1;
	width: 195px;
	position: absolute;
	bottom: 0px;
    padding: 5px;
    height: 100%;
}
#work6 {
	float: left;
	position: relative;
	margin: 5px;
	color: #333;
}
#work6 .image-cap {
	display: none;
	opacity: 0.8;
	background:#cae5c1;
	width: 195px;
	position: absolute;
	bottom: 0px;
    padding: 5px;
    height: 100%;
}
#work7 {
	float: left;
	position: relative;
	margin: 5px;
	color: #333;
}
#work7 .image-cap {
	display: none;
	opacity: 0.8;
	background:#cae5c1;
	width: 195px;
	position: absolute;
	bottom: 0px;
    padding: 5px;
    height: 100%;
}
#work8 {
	float: left;
	position: relative;
	margin: 5px;
	color: #333;
}
#work8 .image-cap {
	display: none;
	opacity: 0.8;
	background:cyan;
	width: 195px;
	position: absolute;
	bottom: 0px;
    padding: 5px;
    height: 100%;
}